<<<<<<< HEAD
/* 
#AdminSign {
  background-color: #007bff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
#AdminSign Input {
  text-align: center;
  width:150px;
  padding: 1em
   

} */
   /* #PrisonerSignUp {

  background-color: #007bff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
 

}  */
/* #PrisonerSignup h1{
      padding-bottom:20em;
}
  #PrisonerSignUp button{
    background:#868e96;
    color:#343a40;

  } */

/* #AdminSign Button{
  width:
    150px;
    height:
      50px;
    
  
}  */

=======
#root > div > div.sc-kGXeez.cxJJSK > form > div > div > form > div{
  background-color: #007bff;
}
#root > div > div.sc-kGXeez.cxJJSK > form > div > div > form > div > div:nth-child(1){
  text-align: left;
}
#root > div > div.sc-kGXeez.cxJJSK > form > div > div > form > div > div:nth-child(1) > h3 > input[type=name]{
  width:100%;
}
>>>>>>> 91eae32129a264c58906413e830849307c243a61

  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div{
    background-color: #007bff;
  }
  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(1) > h3{
text-align: left
  }
  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(1) > h3 > input[type=name]{
    width:100%;
  }

  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(2) > h3{
    text-align:left;
  }

  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(3) > h3{
    text-align:left;
  }

  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(3) > h3 > input[type=textarea]{
    text-align: left;
    width:100%;
    min-height: 
    8rem;
  }
  #root > div > div.sc-kGXeez.cxJJSK > form > div > div > form > div > div:nth-child(3) > h3 {text-align:left}
  #root > div > div.sc-kGXeez.cxJJSK > form > div > div > form > div > div:nth-child(2) > h3 {text-align: left}
<<<<<<< HEAD
 
=======
>>>>>>> 91eae32129a264c58906413e830849307c243a61
