
  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div{
    background-color: #007bff;
  }
  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(1) > h3{
text-align: left
  }
  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(1) > h3 > input[type=name]{
    width:100%;
  }

  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(2) > h3{
    text-align:left;
  }

  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(3) > h3{
    text-align:left;
  }

  #root > div > div.sc-kpOJdX.gYxQKc > form > div > div > form > div > div:nth-child(3) > h3 > input[type=textarea]{
    text-align: left;
    width:100%;
    min-height: 
    8rem;
  }
  #root > div > div.sc-kGXeez.cxJJSK > form > div > div > form > div > div:nth-child(3) > h3 {text-align:left}
  #root > div > div.sc-kGXeez.cxJJSK > form > div > div > form > div > div:nth-child(2) > h3 {text-align: left}
 